        body {
            background-color: navajowhite;
            margin-left: 0px;
            margin-right: 0px;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        hr {
            background-color: navajowhite;
            border-style: none;
            border-top-style: dotted;
            border-color: grey;
            border-width: 5px;
            height: 0px;
            width: 80%
        }

        img:hover {
            border-radius: 100%;
            background-color: yellow;
        }

        h1 {
            color: #A19882;
        }
        h2 {
            color: #A19882;
        }
        h3 {
            color: #A19882;
        }

        .title {
            background-color: white;
            margin-left: 0px;
            margin-right: 0px;
            margin-top: 0px;
            margin-bottom: 0px;
            padding-top: 20px;
            padding-left: 20px;
            padding-bottom: 20px;
            padding-right: 20px;
            border: solid;
            border-width: 20px;
            border-color: orange;
        }

        .title_one {
            border: solid;
            border-color: black;
            border-width: 10px;
            width: 33%;
            padding: 20px;
        }
        .title_two {
            border: solid;
            border-color: black;
            border-width: 20px;
            width: 33%;
            height: (width + 50px);
            margin-left: 33%;
        }
        .title_three {
            border: solid;
            border-color: black;
            border-width: 15px;
            width: 33%;
            margin-left: 66%;
            padding: 20px;
        }

        .title_name {
            padding: 20px;
        }

        .education {
            text-align: center;
        }
        ul {
            width: 10%;
            margin: 0 auto 0 auto;
        }

        .container {
            background-color: skyblue;
            text-align: center;
            height: 400px;

        }

        .first_cloud {
            position: sticky;
            right: 0;
            bottom: 0;
        }
        .second_cloud {

        }
        .huge {
            font-size: 10rem;
            color: red;
            font-weight: bold;
        }